RAW_BUCKET=netflix-pipeline-dev-raw
CURATED_BUCKET=netflix-pipeline-dev-curated
REDSHIFT_ENDPOINT=<your redshift endpoint from terraform output>
REDSHIFT_DB=netflix_roi
REDSHIFT_USER=admin
REDSHIFT_PASSWORD=<your password>
GLUE_ROLE_ARN=<from terraform output>
AWS_REGION=us-east-1
REDSHIFT_IAM_ROLE_ARN=<role allowed to read curated S3 data>
